{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans ce blog!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, eos est fugit illo quam similique voluptatum.
    Asperiores consequatur consequuntur et nesciunt sapiente, veritatis. Ab doloremque dolores iste minima repellat
    totam.</p>
{% endblock %}